* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.carousel {
    /* position: relative; */
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 5px; 
    background-color: #fff;
}
.active-link{
    display: none;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.button {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


/* old */

header{
    height: 70px;
    background-color: #fff;
    line-height: 70px;
    padding: 0 !important;
    margin: 0 !important;
}
.mobile-icons{
    display: none;
}
.title{
    font-size: 28px;
}
.mobile-section{
    padding: 0 !important;
    margin: 0 !important;
}

 .container23 {
    position: fixed;
    top: 40px;  
    left: 0;
    height: fit-content;
}

.carousel-content{
    display: none;
}

.hidden-div {
    display: none;
    position: absolute;
    z-index: 99999;
    background-color: white;
    color: black;
    left: 0;
    top: 0;
    width: 300px;
}
.logo{
    height: 40px !important;
}
.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%; /* Full width */
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px; 
}
.container-grid img {
    width: 40px;
}
.active-link{
    border-left: 10px solid aqua;
    left: 4px;
}
.active-text{
    color: #bebec1 !important;
}
.mobile {
    display: none;
}

/* .container23:hover .hidden-div {
    display: block;
} */
.hidden-div p > a{
    font-size: 18px;
    text-align: justify;
    text-decoration: none;
    color: black;
    padding: 10px !important;
}



.flex-container {
    display: flex;
    box-sizing: border-box;
    padding: 10px 0;
    white-space: nowrap;
    overflow-x: hidden;
}

.flex-container12 {
    display: flex;
    box-sizing: border-box;
}

.flex-container12 > div {
    margin: 10px;
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;

}
.title-tablets{
    display: none;
}
.w-50{
    width: 100%;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 25%;
    box-sizing: border-box;
}
.only-tablet{
    display: none;
}

.pl-50{
    padding-left: 50px !important;
}

.right{
    text-align: right !important;
}
.left{
    text-align: left !important;
}
.w-50{
    width: 100% !important;
}
.w-20{
    width: 100% !important;
   
}
.flex-container p{
    font-size: 18px;
}
.mt-5{
    margin-top: 50px;
}
.pl-10{
    padding-left: 100px;
}
.w-200px{
    height: 40px;
    line-height: 40px;
 
}
.float-left{
    float: left;
    width: 48%;
}
.bg-white{
    background-color: white;
}

.border-none{
   
    border: 0;
}

.border-color {
    width: 248px;
    height: 40px;
    border: 3px solid aqua;
}



.w-100{
    width: 100%;
}
.header-icons{
    float: right;
}
.header-icons span{
    font-size: 16px;
    margin-top: -50px !important;
}
.clear{
    clear: both;
    height: 50px;
}

@media (max-width: 1000px) {


    .hidden-mobile{
        display: none;
    }

    .active-text{
        color: #bebec1;
    }

    .float-left{
        width: 96%;
        margin-right: 4%;
    }
    .w-100{
        width: 100% !important;
    }
    .block{
        display: block !important;
    }
    .mobile-flex{
        display: block !important;
        width: 100% !important;
    }
    .w-20{
        width: 100% !important;
    }
    .mobile{
    display: none;
    }
    .mobile-section{
        margin-top: 25px !important;
    }
    .pl-50{
        padding-left: 0 !important;
    }
    .flex-container12{
        width: 100%;
        padding: 0;
    }
    .flex-container12 > div {
        width: 100%;
        padding: 0;
    }
    .title-tablets{
        display: block;
    }
    /* .mobile-icons{
        display: none;
    } */
    .carousel {
        /* position: relative; */
        width: 1000px;
        max-width: 100%;
        margin: auto;
        overflow: hidden;
        border-radius: 5px; 
        background-color: #fff;
    }
    
    .carousel-content {
        margin-top: 100px;
        display: flex;
        transition: transform 0.5s ease;
        width: 100%;
    }
    
    .carousel-item {
        min-width: 30%;
        padding: 20px;
        text-align: center;
        font-size: 18px;
    }
    
    .button {
        /* position: absolute; */
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
    }
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }
    .mobile-icons{
        display: block;
    }
    .only-tablet{
        display: block;
    }

    .hidden{
        display: none;
    }
    .title{
        display: none;
    }
}


/* end old */
@media (max-width: 600px) {
    .flex-container > div {
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        width: 100%;
    }
        .title{
        display: none !important;
    }

    .float-left{
        width: 46%;
       
        margin-right: 4%;
        font-size: 14px;
        float: left;
    }
    .content-image {
        float: left;
    }
  
    .only-tablet{
        display: block;
    }
    .w-20{
        width: 100% !important;
    }

    .only-pc{
        display: none;
        font-size: 16px;
    }
    .header-icons span{
        display: none;
    }
    .flex-container12 > div {
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        width: 50%;
    }
    .mobile-icons{
        display: none;
    }

        .carousel{
            margin-top:200px;
        }
    
    .button {
        padding: 8px; /* Уменьшаем размер кнопок на мобильных устройствах */
    }

    .carousel-item {
        font-size: 20px; /* Уменьшаем размер шрифта на мобильных */
    }
    .carousel-content{
        display: flex;
    }
    .hidden-mobile{
        display: none !important;
    }
    .float-left{
        width: 100%;
        padding: 0px;
        margin: 0;
    }
    .p-20{
        padding: 20px;
    }
    .carousel {
    /* position: relative; */
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 5px; 
    background-color: #fff;
}

.carousel-content {
    margin-top: 100px;
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.button {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

}



